body {
  font-family: "Open Sans";
  background-color: white; }

th {
  background-color: lightgray; }
  th:hover {
    background-color: white; }

.trow {
  position: relative;
  width: 50px; }
  .trow--danger {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 3px solid red !important; }
  .trow--success {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 3px solid green !important; }

.u-text-title {
  color: #CE0E2D; }

.u-text-standard {
  color: #2D2A26; }

.u-text-header {
  color: #758692; }

.content {
  margin-top: 2rem;
  padding: 0 5rem 0 5rem; }
