body {
  font-family: "Open Sans";
  background-color: white; }

th {
  background-color: lightgray; }
  th:hover {
    background-color: white; }

.u-text-title {
  color: #CE0E2D; }

.u-text-standard {
  color: #2D2A26; }

.u-text-header {
  color: #758692; }

.content {
  margin-top: 2rem;
  padding: 0 26px 46px; }
