body {
  font-family: "Open Sans";
  background-color: white; }

h1,
h2,
h3,
h4,
h5 {
  color: #758692;
  line-height: 1.8rem; }

table {
  color: #2D2A26 !important; }

.table {
  background-color: #eee;
  height: 100%;
  margin-bottom: 0; }

.table-responsive {
  height: 100%; }

th {
  background-color: lightgray; }
  th:hover {
    background-color: white; }

.u-text-title {
  color: #CE0E2D !important;
  font-weight: bold; }

.u-text-standard {
  color: #2D2A26; }

.u-text-header {
  color: #758692; }

.content {
  margin-top: 2rem;
  padding: 0 5rem 0 5rem; }
