//Variable
$color-title: #CE0E2D;
$color-text-standard: #2D2A26;
$color-text-header: #758692;

$color-table-header-bg-color: lightgray;
$color-table-header-bg-hover-color: white;

body {
    font-family: 'Open Sans', ;
    background-color: white;
}

th{

    background-color: $color-table-header-bg-color;

    &:hover {
        background-color: $color-table-header-bg-hover-color;
    }
}

.trow{

    position: relative;
    &--danger{
        position: absolute;
        border-left: 3px solid red !important;
    }
    &--success{
        position: absolute;
        border-left: 3px solid green !important;
    }
}



.u-text-title{
    color: $color-title;
}

.u-text-standard{
    color: $color-text-standard;
}

.u-text-header{
    color: $color-text-header;
}

.content{
    margin-top: 2rem;
    padding: 0 5rem 0 5rem;
}